/*
 |--------------------------------------------------------------------------
 |  The entry point for the css.
 |--------------------------------------------------------------------------
 */

@import 'tailwindcss';
@import './theme/theme.css';
@import './base/global-vars.css';
@import './base/modern-css-reset.css';
@import './base/fonts.css';
@import './base/global.css';
@import './base/headings.css';

@import '../../components/RichText/RichText.css';
@import '../../components/LinkButton/LinkButton.css';
