@import 'tailwindcss';
@import './theme/theme.css';

.ck.ck.ck-content {
  * {
    font-family: var(--font-sans);
  }
  
  ul {
    padding-left: 0;
      li {
        padding-left: 2rem;
        position: relative;
        list-style-type: none;
  
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: calc((16px - 2px)/2);
          width: 8px;
          height: 2px;
          background-color: currentColor;
        }
      }
    }
  
    ol {
      position: relative;
      list-style: none;
      counter-reset: ol-counter;
      padding-left: 2rem;
  
      li {
        counter-increment: ol-counter;
  
        &::before {
          content: counter(ol-counter);
          position: absolute;
          left: 0;
        }
      }
    }
}
