@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-*: initial;
  --color-transparent: 'transparent';
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #FF0000;
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
}

[data-theme="dark"] {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
}
