@utility outside-container {
  padding-inline: var(--container-margin-x);
}

@utility container {
    max-width: unset;
    width: unset;
    gap: var(--container-gap);
    padding-inline: var(--container-margin-x);
    @apply grid grid-cols-12 mx-auto;
}

@utility m-top-md {
    @apply mt-ds-12;
}

@utility m-top-default {
    @apply mt-ds-16;
}

@utility m-top-lg {
    @apply mt-ds-20;
}

@utility clip-path-inset {
  clip-path: inset(0);
}

@utility no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
