html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  transition-property: color, background-color;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: 300ms;
  overflow-x: hidden;

  ::selection {
    background-color: var(--color-accent);
  }

  @media screen {
    font-feature-settings:
      'dlig' 0,
      'liga' 0,
      'lnum' 1,
      'kern' 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
.break-text {
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 5;
  -webkit-hyphenate-limit-after: 5;
  -ms-hyphenate-limit-chars: 10 5 5;
  hyphenate-limit-chars: 10 5 5;
}

.outside-container {
  padding-inline: var(--container-margin-x);
}

/* Not Implemented uses pre to show queried data */
pre {
  font-size: 18px;
}

iframe {
  pointer-events: none;
  touch-action: none;
}

.contentBuilder-margin-correction > :first-child > div {
  margin-top: var(--ds-10) !important;
}
